*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background: rgb(0, 0, 0);
    color: white;
}
.main-nav{
    background-color: rgb(73, 73, 73);
    background: rgb(73, 73, 73);



}
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: rgba(0, 0, 0, .5) 0px 5px 15px;
    z-index: 1000;
}
.main-nav h1{
    color: white;
    cursor: pointer;

}
.main-nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 60%;
    max-width: 40rem;
    list-style: none;
}

.main-nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
   transition: .2s;
}



.main-nav ul li a:hover
{
    color: aqua;
}

button{
    columns: white;
    font-weight: 500;
    background-color: aqua;
    padding: .75rem 1rem;
    border-radius: 10rem;
    border: none;
    transition: .2s ease-in-out;
}
button:hover{
    background-color: rgb(0, 141, 141);
    scale: .9;

}
.line{
    width: 100%;
    background-color: rgb(115, 115, 255);
    height: .2rem;
}
.menu-btn{
    display: none;
}

@media (max-width:768px) {
    .main-nav ul{
        display: none;
    }
    .menu-btn{
        display: block;
    }
    .menu-btn svg{
        fill: white;
        width: 2rem;
        height: 3rem;

    }
}




/** Landing page starts**/
.home {
    height: 100vh;
    background: url(images/1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    max-width: 100%;
    @media (max-width: 600px) {
        height: 110vh;
    }
    @media (min-width: 600) and(max-width: 1024px) {
        font-size: 0.7rem;
    }
    
    
}

.home-content{
    max-width: 600px;
    z-index: 1;
    margin-left: 80px;
}
.home-content h1{
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.2;
    @media (max-width: 600px) {
        font-size: 2rem;
    }
    @media (max-width: 1024px) {
        font-size: 3rem;
    }
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: aqua;
    @media (max-width: 600px) {
        font-size: 1rem;
    }
    @media (max-width: 1024px) {
        font-size: 2rem;
    }
}

.home-content p{
    font-size: 18px;
    margin: 20px 0 40px;
    @media (max-width: 600px) {
        font-size: .8rem;
    }
    @media (min-width: 600) and(max-width: 1024px) {
        font-size: 1rem;
    }
}

.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    margin-top: 10px;
    @media (min-width: 600px) and (max-width: 1024px) {
        font-size: .8rem;
        width: 250px;
        margin-top: 0px;
    }

    @media (max-width: 600px) {
        font-size: 0.8rem;
        width: 250px;
        margin-top: -20px;
    }
    
}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: aqua;
    border: 2px solid aqua;
    border-radius: 12px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;

    @media (min-width: 600px) and (max-width: 1024px) {
        font-size: .8rem;
        width: 100px;
    }

    @media (max-width: 600px) {
        font-size: 0.8rem;
        width: 100px;
    }

}
.btn-box a:hover{
    color: aqua;
}
.btn-box a:nth-child(2) {
    background: transparent;
    color: aqua;
    font-size: 19px;
}
.btn-box a:nth-child(2):hover{
    color: black;
}
.btn-box a:nth-child(2)::before{
    background: aqua;
}


.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(0, 12, 29);
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover:before {
    width: 100%;
}
.home-sci{
    margin-top: 50px;
    margin-left: 90px;
    position: absolute;
    bottom: 4opx;
    width: 170px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 600px) {
        font-size: .5rem;
        margin-left: 0px;
        margin-top: 10px;
    }
    @media (min-width: 600) and(max-width: 1024px) {
        font-size: 0.7rem;
        margin-left: 0px;
        margin-top: 10px;
    }

}
.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid aqua;
    border-radius: 50%;
    font-size: 20px;
    color: aqua;
    text-decoration: none;
    z-index: 1;
    transition: .5s;
    overflow: hidden;
    

}
.home-sci a:hover{
    color: rgb(0, 1, 17);
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: aqua;
    z-index: -1;
    transition: .5s;
}
.home-sci a:hover:before{
    width: 100%;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .7;
    @media (max-width: 600px) {
        height: 115%;
    }
    @media (min-width: 600px) and(max-width: 1024px) {
        height: 115%;
    }
}
/** Landing page end here **/
/** Icon box starts here **/
.bx-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 60vh;
    @media (max-width: 600px) {
        height: 100vh;
    }


}

.bx-container .box{
    width: 300px;
    height: 330px;
    border-radius: 30px;
    background: #646464;
    margin: 35px;
    position: relative; 
    transition: .3s ease-in-out;
    @media (max-width: 600px) {
        width: 400px;
        height: 250px;
        margin-bottom: 10px;
    }
    @media (min-width: 600) and(max-width: 1024px) {
        width: 400px;
        height: 250px;
        margin-bottom: 10px;
    }

}
.bx-container .box:nth-child(2){
    margin-top: -100px;
    @media (max-width: 600px) {
        margin-top: 0;
    }
    @media (min-width: 600) and(max-width: 1024px) {
        margin-top: 0;
    }
}
.bx-container .box:nth-child(3){
    margin-top: -200px;
    @media (max-width: 600px) {
        margin-top: 0;
    }
    @media (min-width: 600) and(max-width: 1024px) {
        margin-top: 0;
    }
}

.bx-container .box .box-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    text-align: center;


}

.bx-container .box .box-content .bx-alarm, .bx-support, .bx-dollar-circle{
    color: aqua;
    font-size: 58px;
    padding: 15px;
}

.bx-container .box .box-content h1{
    font-size: 32px;
    font-weight: 600;
    padding: 10px;
    color: rgb(255, 255, 255);

}
.bx-container .box .box-content p{
    font-size: 18px;
    font-weight: 600;
    height: 20%;
}

.bx-container .box:hover{
    transform: translateY(-8px) translateX(-15px);
    transition: all .5s ease;
}

/** Icon box ends here **/
/** image container starts here **/

.about-us{
    padding: 80px 0px;
    margin: 0;
    margin-bottom: -90px;
    @media (max-width: 600px) {
        margin-top: 200px;
    }
    @media (min-width: 600) and(max-width: 1024px) {
        margin-top: 0;
    }
}
.abt-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}
.row{
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 600px) {
        flex-direction:column-reverse;
    }
    @media (min-width: 600) and(max-width: 1024px) {
        margin-top: 0;
    }

}
.flex{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 25px;

}

.about-us h1{
    font-size: 68px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    @media (max-width: 600px) {
        font-size: 2.3rem;
    }
    @media (min-width: 600) and(max-width: 1024px) {
        margin-top: 3rem;
    }

}
.about-us h3{
    font-size: 32px;
    color: aqua;
    font-weight: 600;
    margin-bottom: 8px;
    @media (max-width: 600px) {
        font-size: 1rem;
    }
    @media (min-width: 600) and(max-width: 1024px) {
        font-size: 2rem;
    }
}
.about-us p{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    height: 20%;
    padding-bottom: 90px;
    margin-bottom: 20px;
    @media (max-width: 600px) {
        font-size: .8rem;
    }
    @media (min-width: 600) and(max-width: 1024px) {
        font-size: 1rem;
    }
}
.about-us img {
    display: block;
    max-width: 100%;
    height: 460px;
    margin: 0 auto;
    border-radius: 30px;
}

.about-us .abt-container .btn-box a{
    padding: 8px;
    margin-top: 50px;
}
 /**image box ends here**/
 /**text image **/
.imgback {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 50px;

}

.ibox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    background: url(images/5.avif) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px;
}
.ibox h1{
    font-size: 68px;
    font-weight: 600;
    z-index: 1;
}

.ibox h3{
    font-size: 32px;
    font-weight: 600;
    color: aqua;
    z-index: 1;
}

.ibox ul{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    z-index: 1;
}

.overlay1{
    margin-top: 350px;
    position: absolute;
    width: 100%;
    height: 65%;
    background: black;
    opacity: .7;

}

/**text image ends here**/


/**Form Builder starts**/


.fcontainer{
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-top: 450px;
    margin-bottom: 100px;
    @media (max-width: 600px) {
        flex-direction: column-reverse;
    }
    @media (min-width: 600) and(max-width: 1024px) {
        margin-top: 0;
    }

}
.form-container{
    background: #f3f3f3;
    padding: 40px 30px;
    border-radius: 10px;
    width: 400px;
}
.form-container h2{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    font-size: 48px;
    font-weight: 600;
}

.input-area{
    position: relative;
    height: 30px;
    line-height: 52px;
    margin-bottom: 50px;

}

.input-area input{
    position: absolute;
    width: 330px;
    outline: none;
    font-size: 16px;
    padding: 0 10px;
    line-height: 50px;
    border-radius: 12px;
    border: 1px solid aqua;
    background: transparent;
    transition: .1s ease;
    z-index: 1111;
}





.label{
    position: absolute;
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin: 0 20px;
    background: #f3f3f3;
    transition: .2s ease;
}


.input-area input:focus
input:valid{
    color: rgb(0, 66, 66);
    border: 2px solid black;

}


.input-area input:focus + .lable
input:valid + .lable{
    color: rgb(0, 66, 66);
    height: 30px;
    padding: 0 12px;
    line-height: 30px;
    transform: translate(-15px, -16px) scale(.88);
    z-index: 1111;
}

button{
    margin-top: 10px;
}

/**.form-image{

    background-image: url(images/7.jpg);
    background-size: cover;
    height: 93vh;
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}*/


.form-image img{
    height: 70vh;
    border-radius: 30px;
    margin-left: 20px;
    @media (max-width: 600px) {
        margin-left: 0px;
        width: 400px;
    }
    @media (min-width: 600) and(max-width: 1024px) {
        margin-top: 0;
    }
}

/**Footer starts here**/
.footer{
    padding: 80px 5% 50px;
    background: linear-gradient(to right, rgb(0, 0, 26), rgb(0, 38, 44));
}
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,auto));
    gap: 1.5rem;
    left: 0;
    right: 0;
    bottom: 0;
}
.footer-content{
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: 20px;
}
.footer-content h4{
    margin-bottom: 10px;
}

.footer-content li{
    margin-bottom: 16px;
    list-style: none;
}
.footer-content li a{
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    transition: all .40s ease;
    
    text-decoration: none;
}

.footer-content li a:hover{
    transform: translateY(-3px) translateX(-5px);
    color: aqua;
}

.footer-content P{
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0;

}

.footer .home-sci{
    margin-left: -.8px;
    margin-top: 10px;
}


/**Footer ends here**/

/**Responsiveness starts here**/
@media (max-wwidth: 600px) {
    .home-content h1{
        font-size: 32px;
        width: 100%;
    }
}
/**Responsiveness starts here**/
/**Booking Page Starts here**/

/**Head starts here**/
.head1{
   background: url(images/8.jpg) no-repeat;
   background-size: cover;
   background-position: center;
   padding: 50px;
   align-items: center;
}
.head1 h1{
    font-weight: 800;
    color: rgb(255, 255, 255);
    font-size: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}


/**Head ends here**/
/**Form-builder starts here**/
.form-section{
    display: None;
}
.bform{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(images/9.webp) no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 750px;
    background: rgba(0, 0, 0, .5);
    border: 2px solid white;
    backdrop-filter: blur(50px);
    border-radius: 20px;
    color: #fff;
    padding: 40px 35px 55px;
    margin: 0 10px;
}


.wrapper h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;

}

.wrapper .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.input-box .input-field{
    position: relative;
    width: 48%;
    margin: 13px 0;
}


.input-box .input-field  input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(225,225,225, .2);
    outline: none;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
    padding: 15px 15px 15px 40px;
}

.input-box .input-field  input::placeholder{
    color: #fff;
}

.input-box .input-field i{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.wrapper label {
    display: inline-block;
    font-size: 14.5px;
    margin: 10px 0 23px;
}


.wrapper label input{
    accent-color: #fff;
    margin-right: 5px;
}
.wrapper .btnn{
    width: 100%;
    height: 45px;
    outline: none;
    font-size: 16px;
    font-weight: 600;
}
/**Form-builder ends here**/

@media (max-width: 576px){
    .input-box .input-field{
        width: 100%;
        margin: 10px 0;
    }
}

/**Toggle buttons starts**/
.toggle-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 5rem 2rem 2rem;
}
.toggle-buttons .toggle {
    padding: 2rem;
    border-radius: 15px;
    border-left: 3rem solid black;
    font-size: large;
}
/**Drop Down**/
select {
    display: inline-block;
    padding: 12px 40px;
    width: 47%;
    height: 55px;
    margin-top: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    background-color: transparent;
    color: white;
}

option {
    color: black;
    background: aqua;
    border-radius: 20px;
    
}

.upload{
    font-size: 16px;
    background: transparent;
    border-radius: 15px;
    width: 320px;
    outline: none;
}


::-webkit-file-upload-button{
    color: aqua;
    background: rgb(0, 39, 51);
    margin-top: 10px;
    padding: 20px;
    border: none;
    border-radius: 20px;
    outline: none;
}

/**Drop Down Ends**/
/**Booking Page ends here**/
