*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body {
    background: black;
    color: white;
}

nav{
    background-color: rgb(73, 73, 73);

}
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: rgba(0, 0, 0, .5) 0px 5px 15px;
}
.main-nav h1{
    color: white;
    cursor: pointer;
}
.main-nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 60%;
    max-width: 40rem;
    list-style: none;
}

.main-nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
   transition: .2s;
}

.main-nav ul li a:hover{
    color: aqua;
}
button{
    columns: white;
    font-weight: 500;
    background-color: aqua;
    padding: .75rem 1rem;
    border-radius: 10rem;
    border: none;
    transition: .2s ease-in-out;
}
button:hover{
    background-color: rgb(0, 141, 141);
    scale: .9;

}
.line{
    width: 100%;
    background-color: rgb(115, 115, 255);
    height: .2rem;
}
.menu-btn{
    display: none;
}

/***@media (max-width:768px) {
    .main-nav ul{
        display: none;
    }
    .menu-btn{
        display: block;
    }
    .menu-btn svg{
        fill: white;
        width: 2rem;
        height: 3rem;

    }
}**/
.Services{
    background-color: black;
}
.services{
    padding: 80px 0px;
    margin: 0;
}
.svs-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;

}
.flex{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 25px;

}

.services h1{
    font-size: 68px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    font-weight: 600;

}
.services h3{
    font-size: 35px;
    color: aqua;
    font-weight: 600;
    margin-bottom: 8px;
}
.services p{
    font-size: 25px;
    font-weight: 600;
    line-height: 1.5;
    height: 20%;
    margin-bottom: 20px;
}
.flex img {
    display: block;
    width: 470px;
    height: 370px;
    margin: 0 auto;
    margin-top: 70px;
    border-radius: 30px;
}

.services .svs-container .btn-box a{
    padding: 8px;
    margin-top: 20px;
}
.header {
    background: url(img/lp\ image.jfif) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.Services h1{
    font-family: popins;
    font-size: 60px;
    text-align: center;
    justify-content: center;
    color: white;
    z-index: 1;
}
.overlay5{
    margin-top: -270px;
    position: absolute;
    width: 100%;
    height: 45%;
    background: black;
    opacity: .7;
}
.box{
font-family: popins;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
gap: 50px;
}
.box h3{
    color:aqua;
    font-size: 35px;
}
.box img{
    border-radius: 20px;
    width: 480px;
    margin-bottom: 20px;
    height: 260px;
}
.box p{
    color: white;
    font-size: 25px;
}
.container:hover{
    transform: translateX(-10px) translateY(-15px);
    transition: all 0.5s ease;
}
.info a{
    font-size: 25px;
    color: aqua;
}
